body {
  background-color: #8bc34a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.World {
  display: block;
  margin: 0;
  padding: 0;
  /*text-align: center;*/
}

.WorldMap {
  /*border-radius: 5px;*/
  background-color: #8bc34a;
  display: inline-block;
  margin: auto;
  position: relative;
}

.Entity {
  /*font-size: 50px;*/
  /*line-height: 0px;*/
  display: inline-block;
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  transition-delay: 0s;
  transition-duration: 0.125s;
  transition-property: left, top;
  vertical-align: baseline;
}

.Player {
  z-index: 999;
}

/*.Friendly {
}*/

/*.Baddie {
}*/

/*.Food {
}*/

.Wall {
  /*animation-name: wiggle;*/
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  from {
  }
  to {
    transform: scaleX(0.8);
  }
}

.Fire {
  animation-direction: alternate;
  animation-duration: 0.125s;
  animation-iteration-count: infinite;
  animation-name: flip;
}

@keyframes flip {
  from {
  }
  to {
    transform: scaleX(-1);
  }
}

.Entity .Stat {
  /*font-size: 16px;*/
  font-weight: bold;
  position: absolute;
  text-shadow: 0 0 2px black;
}
.Entity .Gold {
  bottom: -3px;
  color: white;
  right: 0;
}
.Entity .HP {
  bottom: -3px;
  color: red;
  left: 0;
}
.Entity .Pos {
  /*text-shadow: none;*/
  bottom: -3px;
  color: yellow;
  font-weight: normal;
  left: 50%;
}


.UI {
  text-align: center;
  width: 100vw;
}

.Stats {
  /*border: 1px solid green;*/
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0.66em;
}

.Inventory {
  background-color: grey;
  border: 2px solid black;
  border-radius: 6px;
  display: inline-block;
}

.Control {
  background-color: black;
  display: inline-block;
  /*height: 100vh;*/
  padding: 4em 0.66em;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.Button {
  color: black;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  height: 30px;
  margin: 0.1em;
  padding: 0;
  position: relative;
  width: 40px;
}

.History {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
.History span {
  display: inline-block;
  height: 1px;
  margin: 0;
  margin-right: 0.5px;
  padding: 0;
  width: 1px;
}

.Message {
  color: yellow;
  font-size: 160%;
  font-weight: bold;
}
