body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #8bc34a;
}

.World {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.WorldMap {
  display: inline-block;
  background-color: #8bc34a;
  /*border-radius: 5px;*/
  position: relative;
  margin: auto;
}

.Entity {
  display: inline-block;
  /*font-size: 50px;*/
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  transition-property: left, top;
  transition-duration: 0.125s;
  transition-delay: 0s;
  vertical-align: baseline;
  /*line-height: 0px;*/
}

.Player {
  z-index: 999;
}

.Baddie {
}

.Food {
}

.Wall {
  animation-duration: 1s;
  /*animation-name: wiggle;*/
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes wiggle {
  from {
  }
  to {
    transform: scaleX(0.8);
  }
}

.Fire {
  animation-duration: 0.125s;
  animation-name: flip;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes flip {
  from {
  }
  to {
    transform: scaleX(-1);
  }
}

.Entity .Stat {
  position: absolute;
  /*font-size: 16px;*/
  font-weight: bold;
  text-shadow: 0px 0px 2px black;
}
.Entity .Gold {
  bottom: -3px;
  right: 0;
  color: white;
}
.Entity .HP {
  bottom: -3px;
  left: 0;
  color: red;
}
.Entity .Pos {
  bottom: -3px;
  left: 50%;
  color: yellow;
  font-weight: normal;
  /*text-shadow: none;*/
}


.UI {
  width: 100vw;
}

.Stats {
  background-color: black;
  /*border: 1px solid green;*/
  color: white;
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0.66em;
}

.Inventory {
  background-color: grey;
  border: 2px solid black;
  border-radius: 6px;
  display: inline-block;
}

.Control {
  background-color: black;
  display: inline-block;
  position: absolute;
  padding: 4em 0.66em;
  right: 0;
  top: 0;
  height: 100vh;
}

.Button {
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  height: 30px;
  margin: 0.1em;
  padding: 0;
  position: relative;
  width: 40px;
}

.History {
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}
.History span {
  margin: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  background-color: red;
  display: inline-block;
  margin-right: 0.5px;
  /*position: absolute;
  bottom: 0;*/
}

.Message {
  font-weight: bold;
  color: yellow;
  font-size: 120%;
}
