body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.World {
  display: block;
  margin: 3px;
  padding: 0;
}

.WorldMap {
  display: inline-block;
  background-color: #8bc34a;
  border-radius: 5px;
  position: relative;
}

.Entity {
  display: inline-block;
  /*font-size: 50px;*/
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  transition-property: left, top;
  transition-duration: 0.12s;
  transition-delay: 0s;
  vertical-align: middle;
}

.Player {
  z-index: 999;
}

.Baddie {
}

.Food {
}

.Wall {
}

.UI {
  width: 250px;
}

.Stats {
  background-color: black;
  border: 1px solid green;
  color: green;
  /*display: block;*/
  font-family: monospace;
  font-size: 1.3rem;
  margin: 0;
  padding: 0.3em;
  /*position: absolute;
  right: 0;
  top: 0;*/
}

.Inventory {
  /*position: absolute;
  bottom: 50%;
  right: 0;*/
  background-color: grey;
  border: 2px solid black;
  border-radius: 6px;
  display: inline-block;
}

.Control {
  /*position: absolute;
  bottom: 0;
  right: 0;*/
  background-color: grey;
  border: 2px solid black;
  border-radius: 6px;
  display: inline-block;
}

.Button {
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  height: 30px;
  margin: 0.1em;
  padding: 0;
  position: relative;
  width: 40px;
}

.History {
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}
.History span {
  margin: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  background-color: red;
  display: inline-block;
  margin-right: 0.5px;
  /*position: absolute;
  bottom: 0;*/
}
